@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --ui-bg: var(--color-pancho-200);
}
@theme {
    /* Nuxt UI overrides */
    --ui-text-dimmed: var(--ui-color-neutral-400);
    --ui-text-muted: var(--ui-color-neutral-500);
    --ui-text-toned: var(--ui-color-neutral-600);
    --ui-text: var(--ui-color-neutral-700);
    --ui-text-highlighted: var(--ui-color-neutral-900);
    --ui-bg-elevated: var(--color-pancho-400);
    /* --ui-text-inverted: white; */

    /* App Theme */
    --color-pancho-50: #fdf7ef;
    --color-pancho-100: #f9ecdb;
    --color-pancho-200: #efcca2;
    --color-pancho-300: #eabb87;
    --color-pancho-400: #e19656;
    --color-pancho-500: #da7b35;
    --color-pancho-600: #cb642b;
    --color-pancho-700: #a94d25;
    --color-pancho-800: #873e25;
    --color-pancho-900: #6d3521;
    --color-pancho-950: #3b190f;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}